.first:hover{
    transform: scale(1.1) translateY(-1.15px);
    transition: 0.8s;
}
.second:hover{
    transform: scale(1.1) translateY(-1.15px);
    transition: 0.8s;
}
.third:hover{
    transform: scale(1.1) translateY(-1.15px);
    transition: 0.8s;
}
.fourth:hover{
    transform: scale(1.1) translateY(-1.15px);
    transition: 0.8s;
}
.fifth:hover{
    transform: scale(1.1) translateY(-1.15px);
    transition: 0.8s;
}
.sixth:hover{
    transform: scale(1.1) translateY(-1.15px);
    transition: 0.8s;
}.be{
    background: rgb(255,152,68);
background: linear-gradient(90deg, rgba(255,152,68,1) 5%, rgba(255,255,255,1) 33%, rgba(246,244,246,1) 50%, rgba(255,255,255,1) 67%, rgba(145,74,245,1) 95%);
}