.button{
    text-align: center;
    position: relative;
    top: 22%;
  }
  .button:hover{
    -webkit-text-stroke: 1px;
    color:transparent;
    transition: 0.5s;
  
  }
.Home{
    background-image: url("https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    position: fixed;
    width: 100%;
    
  }
  .Home h1{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
.Home h1:hover{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  transition: 0.5s;
}
.Home h5{
  color: #fff;
  font-style:italic;
  text-align: center;
}
.Home h5:hover{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  transition: 0.5s;
}