
 .lo input{
     background: rgb(209, 255, 232);

     width: 300px;
     box-sizing: content-box;
     padding: 10px;
     margin: 10px;
 }
 .lo label{
     font-size: 25px;
     padding-block: 1px;
     font-family:'STXihei'
 }
 .em{ 
     position: relative;
     left: 22px;
     background-color: rgb(232, 255, 247);
 }
 .pas{
     position: relative;
     background-color: rgb(232, 255, 247);
 }

 .lo h3{
    font-size: 50px;
    font-family:'STXihei';
    background-color: rgb(232, 255, 247);
    height: 100%;
 }
 
 .but{
    color: rgb(109, 188, 109);
 }
/*
 .lo {
     position: absolute;
        height: 100%;
        width: 100%;
        
       background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&w=1000&q=80');
       background-size: cover;
    
 }
.log{
    background-color: aqua;
    position: absolute;
   top: 50px;
}

 */