 .ACMbody{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(182, 235, 248);
 }
.ACMbody h2{
  font-size: 50px;
  font-family:'STXihei'
  
}

.b1:hover {

  color: rgb(109, 188, 109);
  transform: scale(1.0) translateY(-4px);
  transition: 0.3s;
}

.b2:hover {
 
  color: rgb(109, 188, 109);
  transform: scale(1.0) translateY(-4px);
  transition: 0.1s;
}
